{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>Reset your password.</h2>
    <form id="auth-form" action="{{url_for('auth.password_reset_request')}}" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=40) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}
        </p>
        <p>
            {{ form.totp.label }}<br>
            {{ form.totp(size=6) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
