{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>Reset your password.</h2>
    <form id="auth-form" action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=40) }}
        </p>
        <p>
            {{ form.password_check.label }}<br>
            {{ form.password_check(size=40) }}
        </p>
        <p>
            {{ form.totp.label }}<br>
            {{ form.totp(size=6) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
