{% extends "base.html" %}

{% block body %}
<div class="container">
    <h3>These are your notes.</h3>
    {% for note in notes %}
        <div class="note">
        <h3>{{ note.title }}</h3>
        <p>
            {% if not note.is_encrypted %}
                {{ note.content | safe }}
            {% else %}
                <i>Encrypted note (decrypt to view)</i>
            {% endif %}
        </p>
        {% if note.is_encrypted %}
        <form action="{{ url_for('main.decrypt_notes', note_id=note.id) }}" method="POST">
            {{ decrypt_form.hidden_tag() }}
            <div>
                {{ decrypt_form.code.label }}
                {{ decrypt_form.code() }}
                {{ decrypt_form.submit() }}
            </div>
        </form>
        {% endif %}
            <p>Written by: {{ note.author.username }}</p>
    </div>
{% endfor %}

</div>
{% endblock %}
